{% extends "base.html" %}
{% block content %}
<h1>List of Bonus Cards available</h1>
    <hr>
    {% for object in object_list %}
        <p><b>Card: </b>{{ object }}</p>
        <p><b>Series: </b>{{ object.series.printable_number }}</p>
        <p><b>Printable number: </b>{{ object.printable_number }}</p>
        <p><b>Valid until: </b>{{ object.valid_until }}</p>
        <p><b>Card status: </b>{{ object.status }}</p>
        <p><b>Humanreadable status: </b>{{ object.humanreadable_status }}</p>
        <p><b>Issue date: </b>{{ object.issue_date }}</p>
        <p><b>Duration type: </b>{{ object.duration_type }}</p>
        <p><b>Last used date: </b>{{ object.last_used_date }}</p>
        <p><b>Balance: </b>{{ object.balance }}</p>
        <p><b>Is active: </b>{{ object.is_active }}</p>
        {% if not forloop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}