{% extends "base.html" %}
{% block title %}Card series{% endblock %}
{% block content %}
    <h1>List of Card series available</h1>
    <div>
        {% if not object_list %}
            <h3>No card series available!</h3>
        {% else %}
            <hr>
            <p><b>Number - duration_type - issue_date - valid until - cards count - description</b></p>
            <hr>
        {% endif %}
        {% for object in object_list %}
            <li>
                <b>{{ object.printable_number }}</b> - {{ object.duration_type }} - {{ object.issue_date }} - {{ object.valid_until }} - {{ object.cards.count }} - {{ object.description}}
            </li>
        {% endfor %}
    </div>
    <div>
        <hr>
        <a href="{% url 'cards:create_series' %}">Create new card series</a>
    </div>
{% endblock %}